:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --text-color-darkgrey: #212121;
  --text-color-grey: #757575;
  --text-color-black: #000000;
  --text-color-white: #ffffff;
  --text-color-transparent: rgba(255, 255, 255, 0.6);
  --background-color-dark: #2f303a;
  --background-color-light: #f5f4fa;
  --section-pt: 94px;
  --section-pb: 94px;
}

body {
  font-family: var(--main-font);
  color: var(--text-color-grey);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
/* маркеры */
.list {
  list-style: none;
}

/* подчеркивание */
.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* ++++++++++++ STUDIO ++++++++++++ */

/* ============ COMPONENTS ============ */
.logo {
  margin-right: 93px;
  color: var(--accent-color);

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
}
.section-title {
  margin-bottom: 50px;
  color: var(--text-color-darkgrey);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ============ HEADER ============ */
.header {
  /* padding-top: 32px;
  padding-bottom: 32px; */
  /* background-color: #ccc; */
}

.header .container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ECECEC;
  justify-content: space-between;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-item {
  /* background-color: indianred; */
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  
  color: var(--text-color-darkgrey);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.navigation-link.current {
  color: var(--accent-color);
}

.contacts-list {
  display: flex;
  align-items: center;
}

.contacts-item {
  /* background-color: lightcoral; */
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-email {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  /* margin-left: auto; */

  color: var(--text-color-grey);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-tel {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-color-grey);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-email:hover,
.contacts-email:focus {
  color: var(--accent-color);
}

.contacts-tel:hover,
.contacts-tel:focus {
  color: var(--accent-color);
}

.logo-light-theme {
  color: var(--text-color-black);
}

/* ============ HERO ============ */
.hero {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 97px;
  background-color: var(--background-color-dark);
}

.hero-title {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 297px;
  
  color: var(--text-color-white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.modal-btn {
  padding: 10px 32px;
  color: var(--text-color-white);
  background-color: var(--accent-color);

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


  position: absolute;
  min-width: 200px;
  height: 50px;
  left: 700px;
  top: 447px;
  cursor: pointer;
  border-radius: 4px;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--secondary-accent-color);
}

/* ============ END HERO ============ */

/* ============ ADVANTAGES ============ */
.advantages .container {
  display: flex;
  align-items: center;
}

.advantages-list {
  display: flex;
}

.advantages-title {
  color: var(--text-color-darkgrey);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* ============ END ADVANTAGES ============ */

/* ============ SERVICES ============ */
.services-list {
  display: flex;
}
/* ============ END SERVICES ============ */

/* ============ TEAM ============ */
.team {
  background-color: var(--background-color-light);
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}

.team-list {
  display: flex;
}

.specialist-name {
  color: var(--text-color-darkgrey);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.specialist-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
/* ============ END TEAM ============ */

/* ============ FOOTER ============ */
.footer-info {
  background-color: var(--background-color-dark);
}

.logo-dark-theme {
  color: var(--text-color-white);
}

.address {
  font-style: normal;
}

.info-address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.info-list-link {
  color: var(--text-color-white);

  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--text-color-transparent);
}
/* ============ END FOOTER ============ */

/* ++++++++++++ PORTFOLIO ++++++++++++ */

/* ============ HERO ============ */
.nav-btn {
  border-radius: 4px;
  border-style: none;
  
  color: var(--text-color-darkgrey);
  background-color: var(--background-color-light);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.nav-btn:hover,
.nav-btn:focus {
  color: var(--text-color-white);
  background-color: var(--accent-color);
}
/* ============ END HERO ============ */

/* ============ PROJECTS ============ */
.project-name {
  color: var(--text-color-darkgrey);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-cat {
  color: var(--text-color-grey);

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
/* ============ END PROJECTS ============ */
